{% extends 'home/base.html' %}

<!-- Main Content - start -->

{% load staticfiles %}

{% block main %}
<main>
	<section class="container">


		<ul class="b-crumbs">
			<li>
				<a href="index.html">
					Ana Sayfa
				</a>
			</li>
			<li>
				<a href="/magaza">
					Katalog
				</a>
			</li>

			<li>
				<span>Eldivenler</span>
			</li>
		</ul>
		<h1 class="main-ttl"><span>Muayene Eldivenleri</span></h1>
		<!-- Single Product - start -->
		<div class="prod-wrap">

			<!-- Product Images -->
			<div class="prod-slider-wrap">
				<div class="prod-slider">
					<ul class="prod-slider-car">
						<li>
							<a data-fancybox-group="product" class="fancy-img" href="http://placehold.it/500x642">
								<img src="http://www.nhmedical.com.tr/images/urunler/Beyaz-Lateks-Pudrali-S.jpg" alt="">
							</a>
						</li>
						<li>
							<a data-fancybox-group="product" class="fancy-img" href="http://placehold.it/500x722">
								<img src="http://www.nhmedical.com.tr/images/urunler/Beyaz-Lateks-Pudrali-S.jpg" alt="">
							</a>
						</li>

					</ul>
				</div>
				<div class="prod-thumbs">
					<ul class="prod-thumbs-car">
						<li>
							<a data-slide-index="0" href="#">
								<img src="http://www.nhmedical.com.tr/images/urunler/Beyaz-Lateks-Pudrali-S.jpg" alt="">
							</a>
						</li>
						<li>
							<a data-slide-index="1" href="#">
								<img src="http://www.nhmedical.com.tr/images/urunler/Beyaz-Lateks-Pudrali-S.jpg" alt="">
							</a>
						</li>

					</ul>
				</div>
			</div>

			<!-- Product Description/Info -->
			<div class="prod-cont">
				<div class="prod-cont-txt">
					Ürün Açıklaması... !!
				</div>
				<p class="prod-actions">
					<a href="#" class="prod-favorites"><i class="fa fa-heart"></i>Listeye Ekle</a>
					<a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i>Karşılaştır</a>
				</p>
				<div class="prod-skuwrap">
					<p class="prod-skuttl">Color</p>
					<ul class="prod-skucolor">

						<li>
							<img src="{%  static "home/img/color/blue.jpg"%}" alt="">
						</li>
						<li>
							<img src="{%  static "home/img/color/red.jpg"%}" alt="">
						</li>
						<li>
							<img src="{%  static "home/img/color/green.jpg"%}" alt="">
						</li>
						<li>
							<img src="{%  static "home/img/color/yellow.jpg"%}" alt="">
						</li>
						<li>
							<img src="{%  static "home/img/color/purple.jpg"%}" alt="">
						</li>
					</ul>
					<p class="prod-skuttl">Boyutlar</p>
					<div class="offer-props-select">
						<p>XL</p>
						<ul>
							<li><a href="#">XS</a></li>
							<li><a href="#">S</a></li>
							<li><a href="#">M</a></li>
							<li class="active"><a href="#">XL</a></li>
							<li><a href="#">L</a></li>
							<li><a href="#">4XL</a></li>
							<li><a href="#">XXL</a></li>
						</ul>
					</div>
				</div>

				<div class="prod-info">
					<p class="prod-price">

					</p>
					<p class="prod-qnt">
						<input value="1" type="text" id="count">
						<a href="#" class="prod-plus"><i id="plus" onclick="plus()" class="fa fa-angle-up"></i></a>
						<a href="#" class="prod-minus"><i id="moins" onclick="minus()" class="fa fa-angle-down"></i></a>
					</p>
                    <script>

    var count=document.getElementById("count").value;
    var countEl = document.getElementById("count");
    function plus(){
        count++;
        countEl.value = count;
    }
    function minus(){
      if (count > 1) {
        count--;
        countEl.value = count;
      }
    }
                    </script>
					<p class="prod-addwrap">
						<a href="/sepet" class="prod-add" rel="nofollow">Sipariş Ver</a>
					</p>
				</div>
				<ul class="prod-i-props">
					<li>
						Uygun fiyatı ile maliyetlerinizi düşürmeye yardımcıdır.
					</li>
					<li>
						Pudrasız olmasına rağmen özel iç yüzeyi ile giyimi kolaydır.
					</li>
					<li>
						Sağlık , temizlik , gıda ve toptan satış sektöründe tercih edilir.
					</li>
					<li>
						Hammaddesi sayesinde dayanıklılığı yüksektir.
					</li>
					<li>
						EN 455 1-2-3 standartlarını karşılar.
					</li>
					<li>
						XS-S-M-L-XL bedenleri mevcuttur.
					</li>
					<li>
						KOLİ : 20 x 100 lük paket
					</li>
					<li><a href="#" class="prod-showprops">Tüm Özellikler</a></li>
				</ul>
			</div>

			<!-- Product Tabs -->
			<div class="prod-tabs-wrap">
				<ul class="prod-tabs">
					<li><a data-prodtab-num="1" class="active" href="#" data-prodtab="#prod-tab-1">Açıklama</a></li>
					<li><a data-prodtab-num="2" id="prod-props" href="#" data-prodtab="#prod-tab-2">Özellikler</a></li>

				</ul>
				<div class="prod-tab-cont">

					<p data-prodtab-num="1" class="prod-tab-mob active" data-prodtab="#prod-tab-1">Açıklama</p>
					<div class="prod-tab stylization" id="prod-tab-1">
						<p>Uygun fiyatı ile maliyetlerinizi düşürmeye yardımcıdır.
                         Pudrasız olmasına rağmen özel iç yüzeyi ile giyimi kolaydır.
                         Sağlık , temizlik , gıda ve toptan satış sektöründe tercih edilir.
                         Hammaddesi sayesinde dayanıklılığı yüksektir.
                         <b>EN 455 1-2-3 standartlarını karşılar.XS-S-M-L-XL bedenleri mevcuttur. KOLİ : 20 x 100 lük paket</b></p>
					</div>
					<p data-prodtab-num="2" class="prod-tab-mob" data-prodtab="#prod-tab-2">Özellikler</p>
					<div class="prod-tab prod-props" id="prod-tab-2">
						<table>
							<tbody>
							<tr>
								<td>Ürün Adı</td>
								<td>------</td>
							</tr>
							<tr>
								<td>Türü</td>
								<td>-----</td>
							</tr>
							<tr>
								<td>Kumaş Tipi</td>
								<td>----</td>
							</tr>
							<tr>
								<td>Boyutlar</td>
								<td>--------</td>
							</tr>
							<tr>
								<td>Renk</td>
								<td>----</td>
							</tr>
							</tbody>
						</table>
					</div>


				</div>
			</div>
		</div>
		<!-- Single Product - end -->

		<!-- Related Products - start -->
		<div class="prod-related">
			<h2><span>Diğer Ürünler</span></h2>
			<div class="prod-related-car" id="prod-related-car">
				<ul class="slides">
					<li class="prod-rel-wrap">
						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>




						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>




						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>




						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



					</li>
					<li class="prod-rel-wrap">
						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="urun.html" class="prod-rel-img">
								<img src="http://www.nhmedical.com.tr/images/urunler/Mavi-Nitril-Pudrasiz-S-3D.jpg" alt="">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="urun.html">Nitril</a></h3>
								<p class="prod-rel-price">

								</p>
								<div class="prod-rel-actions">
									<a title="Listeye Ekle" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
									<a title="Karşılaştır" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Sipariş Ver" href="/iletisim" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>


				</ul>
			</div>
		</div>
		<!-- Related Products - end -->

	</section>
</main>

{% endblock %}